.agenda {
	&-heading {
		height: 50px;
		line-height: 50px;
		text-align: center;
		background-color: $section-heading-background;

		&-text {
			font-size: 24px;
			font-weight: 800;
			color: $black;
			text-transform: uppercase;
			color: #fff;
		}
	}

	.content {

		.speakers {
			margin: 0px auto;

			.speaker-details {
				display: flex;
				flex-flow: row wrap;
				border-bottom: 1px solid $black;
				padding: 20px 30px;

				.time {
					flex: 1 1 20%;
					padding-top: 5px;
					font-weight: 800;
					text-transform: uppercase;
					align-self: flex-start;
				}

				.speaker-detail {
					flex: 1 0 80%;
					display: flex;
					flex-flow: column;
					align-items: flex-start;

					.img {
						border-radius: 20px;
						width: 80px;
						height: 80px;
						margin: 5px 5px 5px 0;
						flex: 1 1 10%;
					}

					.title {
						color: $pink;
						font-size: 20px;
						font-weight: bold;
						flex: 1 1 auto;
					}

					.title-default {
						color: $black;
						font-size: 20px;
						font-weight: bold;
					}

					.subtitle {
						display: block;
						color: $gray;
						font-size: 15px;
						font-style: italic;
						text-align: justify;
						padding: 0 0 10px 0;
						line-height: 1.5;
						max-height: 55px;
						overflow: hidden;

						&.show {
							max-height: none;
						}
					}

					.name {
						font-size: 15px;
						font-weight: bold;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						flex: 1 0 30%;
												
						.speaker-description {
							font-size: 12px;
							font-weight: normal;
							padding-top: 5px;
							text-align: justify;
							line-height: 1.5;
						}

						
						.profile {
							width: 95%;
						}
					}
					.motivation {
						font-size: 15px;
						font-weight: bold;
						flex: 1 0 10%;
					}

					.live {
						height: 300px;
						width: 100%;
					}
				}
			}
		}
	}
}
