section {
		font-family: 'OpenSans', sans-serif;
		position: relative;
		margin: auto;
		min-width: 400px;
		max-width: 640px;

		a {
			color: $pink;
			text-decoration: none;
		}
	}

	.link {
		text-decoration: underline;
	}
